# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Modeles (optionnel, selon taille)
*.h5
*.keras
*.pkl
*.npy
*.zip

# Donnees
*.csv
data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Colab
drive/
sample_data/
.config/
